[user]
	name = David Chu
	email = thedavidchu@gmail.com
	username = thedavidchu
[init]
	defaultBranch = main
[core]
	editor = vim
[credential]
	# Store credentials in the open (very insecure!)
	helper = store
[alias]
	a = add
	a-u = add -u
	a-p = add -p
	b = branch
	b-a = branch -a
	b-l = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) -       %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
	b-d = branch -d
	b-D = branch -D
	c = commit
	c-a = commit --amend
	c-m = commit -m
	co = checkout
	co-b = checkout -b
	d = diff
	d-s = diff --staged
	s = status --show-stash
	rb = rebase
	rb-a = rebase --abort
	rb-c = rebase --continue
	rb-i = rebase -i
	rb-io = rebase -i origin/main
	rb-r = rebase -i --root
	root = rev-parse --show-toplevel
	# I chose 'rr' simply because it is unambiguously not 'reset'.
	rr = restore
	rr-s = restore --staged
	l = log --graph --stat -M
	l-g = log --graph --stat -M
	ps = push
	ps-f = push --force-with-lease
	# The short form of this is -u. This will push the branch at HEAD to origin
	# c.f. `git push --set-upstream origin my/branch`
	ps-u = push --set-upstream origin HEAD
	tree = log --all --graph --decorate --oneline
	# These aren't exactly useful
	whereami = rev-parse --abbrev-ref HEAD
	whoami = config user.name
[pull]
	ff = only
